{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
        <img src="/avatar/{{this.username}}" alt="User Avatar">
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h2>{{ this.title }}  Sport: {{ this.sport }}</h2>

        <p>Event Time: {{ this.eventTime }}</p>

        <p>{{ this.content }}</p>
        
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            <!-- Heart = ♥ -->
            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
            <p> 
                {{#if loggedIn}}
                    {{#ifContains userEvents this.id}}
                        <button type="button" class="follow-button followed" 
                            data-id={{this.id}} onclick="handleFollowClick(this)">followed</button>
                    {{else}}
                        <button type="button" class="follow-button" 
                            data-id={{this.id}} onclick="handleFollowClick(this)">follow</button>
                    {{/ifContains}}
                {{/if}}

                    {{this.followers}} Followers Posted by {{this.username}} on {{this.timestamp}}
                    
                {{#if loggedIn}}
                    {{#ifCond this.username user.username}}
                        <button type="button" class="delete-button" data-id={{this.id}} onclick="handleDeleteClick(this)">
                            <i class="fas fa-trash-alt"></i></button>
                    {{/ifCond}}
                {{/if}}
            </p>
        </div>        
    </div>
</div>
<script>

    function handleFollowClick(buttonElement) {
        const postId = buttonElement.getAttribute('data-id');
        buttonElement.classList.toggle("followed");

        if (buttonElement.classList.contains("followed")) {
            fetch('/follow/' + postId, { method: 'POST' } );       

        } else {
            fetch('/unfollow/' + postId, { method: 'POST' } );  
        }

        location.reload();
    }

    function handleDeleteClick(buttonElement) {
        const postId = buttonElement.getAttribute('data-id');        
        
        fetch('/delete/' + postId, { method: 'POST' } );    

        location.reload();
    }    

    
</script>