{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <!-- the user's avatar -->
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <h2>{{ this.title }}</h2>

        <p>{{ this.content }}</p>
        
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            <!-- Heart = ♥ -->
            <!-- font awesome  trashcan = <i class="fas fa-trash-alt"> </i>-->
            <p> {{this.likes}} Likes      
                    Posted by {{this.username}} on {{this.timestamp}}
                    
                {{#ifCond this.username user.username}}
                    <button type="button" class="delete-button" data-id={{this.id}} onclick="handleDeleteClick(this)">
                        <i class="fas fa-trash-alt"></i></button>
                {{/ifCond}}
            </p>
        </div>        
    </div>
</div>
<script>

    function handleLikeClick(event) {
        const postId = event.target.getAttribute('data-id');

        // you might want to "fetch" something...        
    }

    function handleDeleteClick(buttonElement) {
        const postId = buttonElement.getAttribute('data-id');        

        console.log("deleting post: " + postId);
        
        fetch('/delete/' + postId, { method: 'POST' } );    
    }    

    
</script>